<div class="guest-signup">
    <div class="container">
    <div class="guest-form-container">
              <h3>Create an Account</h3>
        <form action="/invite/signup" method="post">
              <div class="form-group">
                <label for="email">Fullname</label>
    <input type="text" class="form-control" name="fullname" placeholder=" John Doe" required>
            </div>
              <div class="form-group">
                <label for="email">Invite ID</label>
    <input type="text" class="form-control" name="companyId" placeholder="company id" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="joe@gmail.com" required>
            </div>
                <div class="form-group">
                    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" aria-describedby="textHelp" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn btn-primary signup-btn">Create account</button>
        </form>
    </div>
    </div>
</div>