<div class="guest-login">
    <div class="container">
    <div class="guest-form-container">
        <h4>Continue with one of these accounts as a guest</h4>
        <div class="auth-container">
           <a href="/auth/google"> <div class="auth-buttons">
                <div class="imageContainer"><img src="../../public/static/google.png" alt=""></div>
            <div class="cta">Continue with Google</div>
            </div></a>
           <a href="#">
                <div class="auth-buttons">
                <div class="imageContainer"><img src="../../public/static/download (1).png" alt=""></div>
            <div class="cta">Continue with Facebook</div>
            </div>
           </a>
           <a href="#">
                <div class="auth-buttons">
                <div class="imageContainer"><img src="../../public/static/twitter.svg" alt=""></div>
            <div class="cta">Continue with Twitter</div>
            </div>
           </a>
        </div>
    </div>
    </div>
</div>