<div class="guest-login">
    <div class="container">
    <div class="guest-form-container">
        <h4>Continue with these account as a guest</h4>
        <div class="auth-container">
           <a href="/auth/google"> <div class="auth-buttons">
                <div class="imageContainer"><img src="../../public/static/google.png" alt=""></div>
            <div class="cta">Continue with Google</div>
            </div></a>
        </div>
    </div>
    </div>
</div>