<div class="signup d-flex">
    <div class="signup-img">

    </div>
    <div class="signup-form">
        <h3>Create an account</h3>
        <form>
               <div class="form-group">
    <input type="text" class="form-control" aria-describedby="textHelp" placeholder="Full Name">
            </div>
            <div class="form-group">
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
            </div>
                <div class="form-group">
    <input type="text" class="form-control" aria-describedby="textHelp" placeholder="Company/App Name">
            </div>
                <div class="form-group">
    <input type="url" class="form-control" aria-describedby="textHelp" placeholder="Subdomain">
            </div>
                <div class="form-group">
    <input type="password" class="form-control" aria-describedby="textHelp" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary signup-btn">Sign Up</button>
        </form>
    </div>
</div>