<div class="create-board">
   <div class="container">
        <div class="card">
        <h4>Create a new board</h4>
        <p>A board is a place where people can post and <br /> vote on ideas for a specific topic.</p>
       <form method="post" action="/boards">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Feature Request" name="boardName">
  </div>
  <div class="form-group">
    <input type="url" class="form-control" placeholder="feedbiak.io/feature-url" name="boardUrl">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
   </div>
</div>