<div class="admin-view">
    <div class="container">
<div class="boards">
    <h4>Boards </h4>
</div>
    <div class="board-list">
      {{#each boards}}
     <a href='/board/{{id}}' class="board-item">{{boardName}}
     </a>
      {{else}} Sorry no board has been created yet
      {{/each}}
    </div>
    </div>
</div>