<div class="invite">
    <div class="container">
        <div class="form invite-form">
            <label for="email">Invite people via email:</label><br>
            <input type="email" placeholder="email">
        </div>
    </div>
</div>