<div class="post">
    <div class="container">
            <div class="board">
        <div class="left-ui-panel">
            <div class="status">
                <p>Post status</p>
                <div class="in-progress">
                    <p>In Progress</p>
                </div>
            </div>
    </div>
    <div class="right-ui-panel">
        <p>{{post.title}}</p>      
    </div>
    </div>
</div>