<div class="header d-flex">
    <div class="home-content">
        <h1 class="home-heading">Build Something People Love</h1>
        <p class="text-summary">Collect feedback and data to know what your users want, be confident that you're building the right thing.</p>
          <div class="social-handles">
            <img src="../public/static/cat.svg" alt="">
            <img src="../public/static/facebook.svg" alt="" >
            <img src="../public/static/twitter.svg" alt="">
            <img src="../public/static/stack-overflow.svg" alt="">
        </div>
        <div class="try-btn">
            <button class="btn btn-primary">Try for free</button>
        </div>
    </div>
    <div class="home-img">
    </div>
</div>