<div class="header d-flex">
    <div class="home-content">
      <div class="container">
            <h1 class="home-heading">Build Something People Love</h1>
        <p class="text-summary">Collect feedback and data to know what your users want, be confident that you're building the right thing.</p>
          <div class="social-handles">
            <a href="https://github.com/humanwhocode/Feedbiak" target="_blank" rel="noopener">
            <img src="../public/static/cat.svg" alt="github-icon">
            </a>
            <img src="../public/static/facebook.svg" alt="facebook-icon" >
            <a href="https://twitter.com/humanwhocode" target="_blank" rel="noopener">
             <img src="../public/static/twitter.svg" alt="twitter-icon">
            </a>
            <img src="../public/static/stack-overflow.svg" alt="stackoverflow-icon">
        </div>
        <div class="try-btn">
            <a href="/signup"><button class="btn btn-primary">Try for free</button></a>
        </div>
      </div>
    </div>
    <div class="home-img">
        <img src="../public/static/chaos_engineering_is_not_just_tools_gremlin.jpg" alt="">
    </div>
</div>