@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body,html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background: #ffffff;
    margin: 0;
    padding: 0;

}
.btn{
    background: #76d0a5;
    border-color: transparent;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.btn a{
    color: white;
    text-decoration: none;
}
a{
text-decoration: none;
color: inherit;
letter-spacing: .01em;
word-spacing: .02em;
}
h3{
    font-weight: bold;
    color: #373763;
}
.navbar{
    background: #ffffff;
    border: 1px solid rgb(233, 233, 233);
    border-top-color: transparent;
}
.navbar-brand{
    font-weight: bold;
    letter-spacing: 3px;
}
.navbar button{
    font-size: 13px;
    font-weight: bold;
    border:none;
    width: 80px;
}
.header{
    flex-wrap: wrap;
}
.home-content{
    width: 50%;
    margin-top: 10%;
}
.home-content h1, .text-summary, .try-btn, .social-handles{
    margin-left: 30.5%;
    line-height: 1.8;
    color: #373763;
}
.home-heading{
    font-weight: bold;
    font-size: 35px;
}
.social-handles img{
    background: white;
    width: 38px;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
}
.try-btn button{
    margin-top: 25px;
    width: auto;
    height: 5vh;
    border: none;
}
.home-img{
    width: 50%;
    background-position: center;
    background-size: cover;
}
.home-img img{
    width: 100%;
}

/* Sign up */
.signup{
    flex-wrap: wrap;
    margin-top: 2%;
}
.signup-img{
    width: 50%;
    background-position: center;
    background-size: cover;
}
.signup-img img{
    width: 100%;
}
.signup-form{
    margin-left: 13%;
    text-align: left;
}
.signup-form input{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.signup-form h3{
    font-size: 25px; 
}
.signup-form form{
    margin-top: 50px;
}
.signup-btn{
    border:none;
    width: 100%;
    height: 5vh;
    margin-top: 10px;
}

/* Login */
.login{
    flex-wrap: wrap;
}
.login-form{
    margin-top: 10%;
    margin-left: 16%;
    text-align: left;
}
.login-form form{
    margin-top: 50px;
}
.login-form input{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.login-img{
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-left: 10%;
}
.login-img img{
    width: 100%;
}
/* Message */
.alert{
    margin-top: 30px;
}
/* Boards page */
.boards{
    margin-top: 5%;
}
.boards h6{
    color: #696969;
    font-weight: bold;
}
.boards .btn{
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}
.board-list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 2%;
}
.board-item{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
min-width: 31.3%;
max-width: 31.3%;
padding: 12px 15px;
margin: 0 2% 2% 0;
background:
#f5f5f5;
border-radius: 5px;
transition: all .1s ease-in-out;
box-sizing: border-box;
word-wrap: break-word;
word-break: break-word;
font-weight: bold;
font-size: 14px;
}
.roadmap{
    margin-top: 5%;
}
.roadmap h6{
    font-weight: bold;
    color: #696969;
}
.roadmap-header{
    display: flex;
    padding-bottom: 10px;
}
.dot{
    width: 8px;
    height: 8px;
    margin: 0 10px 2px 0;
    margin-top: 5px;
    border-radius: 100%;
}
.dot.planned{
    background: red;
}
.dot.in-progress{
    background: rebeccapurple;
}
.dot.complete{
    background: seagreen;
}
.roadmap-content{
    font-weight: 500;
    display: flex;
    flex-direction: row;
}
/* Create Board */
.create-board{
    text-align: center;
}
.create-board .card{
    text-align: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    padding-top: 40px;
}
.create-board .card p {
    padding-top: 10px;
}
.create-board .card form{
    padding: 50px;
}
.create-board .card form input{
    height: 7vh;
}
.create-board .card form button{
    float: right;
}
/* Board */
.board{
    display: flex;
    padding-top: 5%;
}
.left-ui-panel{
    width: 30%;
    flex-wrap: nowrap;
}
.board-post-form{
    background: #f5f5f5;
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;
}
.board-post-form form{
    margin-top: 10px;
}
.form-post-heading{
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}
.board-post-form .full-input {
    display: inline-block;
    padding: 3px;
    background: white;
    border-radius: 5px;
  }
.board-post-form input {
    outline: none;
    border: none;
    display:block;
    line-height: 1em;
    margin-top: -15px;
}
.board-post-form input::placeholder,textarea::placeholder{
    color: #a7a7a7;
    font-size: 15px;
}
.board-post-form label {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    font-size: 10px;
    color: #4e4e4e;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .board-post-form textarea{
    text-indent: 10px;
    -webkit-box-flex: 1;
    flex: 1;
    line-height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    color: #333;
    background: none;
    font-size: 15px;
    line-height: 22px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    min-height: 21px;
  }
  .board-post-btn{
    text-align: right;
  }
  .board-post-form button{
      font-size: 15px;
  }
.right-ui-panel{
    border-radius: 10px;
    margin-left: 50px;
    width: 100%;
    padding: 20px;
}
.board-post-list{
    display: flex;
    align-items: center;
    margin: 20px 0 15px;
}
.upvote{
    text-align: center;
    background: rgb(255, 255, 255);
    border: 1px solid #efefef;
    border-radius: 8px;
    min-width: 40px;
    align-self: flex-start;
    width: 38px;
    cursor: pointer;
    margin-top: -5px;
    padding:0px
}
.upvote i{
    font-size: 25px;
    color: teal;
}
.upvote button{
    background: transparent;
    border:none
}
.upvote .count{
    margin-left: 2px;
}
.board-post-link{
    margin-left: 15px;
    margin-top: -5px;
    cursor: pointer;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 5px 15px 5px 0;
    text-decoration: none;
}
.board-post-link:hover{
    text-decoration: none;
    color: inherit;
}
.post-title{
    font-weight: bold;
    font-size: 14px;
}
.post-description{
    font-size: 14px;
}

/* Post */
.progress{
    margin-top: 20px;

}
.status img{
    width: 20px;
}
.update{
    margin-top: 20px;
}
.update button{
    float: right;
}
.btn.delete{
    background: transparent;
}
.edit-post{
    margin-top: 30px;
}
.commentComposer{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.commentComposer .composerForm {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    width: 150%;
}
.commentComposer .composerForm .autoResizeTextarea {
    border: 1px solid #ddd;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 0px;
}
.autoResizeTextarea {
    padding: 8px 12px;
    background: #fff;
    cursor: text;
    box-sizing: border-box;
    border-radius: 5px;
}
.autoResizeTextarea .inputContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.autoResizeTextarea .inputContainer textarea {
    -webkit-box-flex: 1;
    flex: 1;
    line-height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    color: #333;
    background: none;
    font-size: 15px;
    line-height: 22px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    min-height: 21px;
}
.commentComposer .composerForm .buttonBar {
    float: right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
   
    padding: 12px;
}
.commentComposer .composerForm .buttonBar .rightContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    max-width: 250px;
}
.commentComposer .composerForm .buttonBar .rightContainer .teamNotifyMessage {
    margin: 0 12px;
    color: #666;
    font-size: 12px;
    line-height: 17px;
}
.commentComposer .composerForm .buttonBar .rightContainer .button {
    min-width: 80px;
}
.activity-heading{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(82, 82, 82);
}
.progress-status{
    padding: 3px 6px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.progress-status.Completed{
    background: seagreen;
}
.progress-status.Planned{
    background: red;
}
.progress-status.Closed{
    background: rgb(172, 172, 172);
}
.progress-status.Open{
    background: rosybrown;
}
.progress-status.Review{
    background: rgb(235, 215, 34);
}
.progress-status.In{
    background: steelblue;
}
.comments-activity{
    margin-top: 20px;
    display: flex;
} 
.user-img img{
    width: 30px;
}
.comment-body{
    margin-left: 22px;
}
.comment-body .user-name{
    color: teal;
}
.comment-body .comment-text, .comment-body .comment-text p{
font-size: 14px;
margin-top: 10px;
}
.comment-func{
    display: flex;
    font-size: 13px;
    margin-left: -10px;
    color: rgb(116, 116, 116);
}
.comment-func div{
    margin-left: 10px;
}

/* Email invitation */
.invite{
    margin-top: 3%;
    text-align: center;
}
.invite-form{
    text-align: left;
}