@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body,html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background: #ffffff;

}
h3{
    font-weight: bold;
    color: #373763;
}
.navbar{
    background: #ffffff;
}
.navbar-brand{
    font-weight: bold;
    letter-spacing: 3px;
}
.navbar button{
    background: #76d0a5;
    font-size: 13px;
    font-weight: bold;
    border:none;
    width: 80px;
}
.header{
    flex-wrap: wrap;
}
.home-content{
    width: 50%;
    margin-top: 10%;
}
.home-content h1, p, .try-btn, .social-handles{
    margin-left: 30.5%;
    line-height: 1.8;
    color: #373763;
}
.home-heading{
    font-weight: bold;
    font-size: 35px;
}
.social-handles img{
    background: white;
    width: 38px;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
}
.try-btn button{
    margin-top: 25px;
    width: auto;
    height: 5vh;
    background: #76d0a5;
    border: none;
}
.home-img{
    width: 50%;
    background-position: center;
    background-size: cover;
}
.home-img img{
    width: 100%;
}

/* Sign up */
.signup{
    flex-wrap: wrap;
    margin-top: 2%;
}
.signup-img{
    width: 50%;
    background-position: center;
    background-size: cover;
}
.signup-img img{
    width: 100%;
}
.signup-form{
    margin-left: 13%;
    text-align: left;
}
.signup-form input{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.signup-form h3{
    font-size: 25px; 
}
.signup-form form{
    margin-top: 50px;
}
.signup-btn{
    background: #76d0a5;
    border:none;
    width: 100%;
    height: 5vh;
    margin-top: 10px;
}

/* Login */
.login{
    flex-wrap: wrap;
}
.login-form{
    margin-top: 10%;
    margin-left: 16%;
    text-align: left;
}
.login-form form{
    margin-top: 50px;
}
.login-form input{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.login-img{
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-left: 10%;
}
.login-img img{
    width: 100%;
}